In [51]:
import numpy as np
import pandas as pd
from IPython.display import display

# Q1 What version of Pandas is installed? 

version = pd.__version__

print(f"Current version of Pandas: {version}")

Current version of Pandas: 2.3.1

In [52]:
# Q2 - How many records in the dataset? 

df = pd.read_csv("car_fuel_efficiency.csv")

print(f"The shape of the dataframe is: {df.shape}")

display(df)

The shape of the dataframe is: (9704, 11)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [53]:
# Q3 - How many fuel types are presented in the dataset?

print(df.value_counts("fuel_type"))

# There are two types of fuel - Gasoline & Diesel.

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [54]:
# Q4 - How many columns have missing values? 

print(f"There are {df.isnull().sum()} values")

# There are 4 columns with null values. 
# or... 

q4ans = (df.isnull().sum() > 0).sum()

print('\nThe number of columsn with missing values is', q4ans)

There are engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64 values

The number of columsn with missing values is 4

In [55]:
# Q5 - Whats the max fuel efficiency of cars from Asia? 

max_eff_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

print(f"The max fuel efficiency of Asian origin countries: {max_eff_asia.round(2)}")

The max fuel efficiency of Asian origin countries: 23.76

In [56]:
# Q6. Median value of horsepower
    # Find the median value of horsepower column in the dataset.
    # Next, calculate the most frequent value of the same horsepower column.
    # Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
    # Now, calculate the median value of horsepower once again.
    # Has it changed?

    # Yes, it increased
    # Yes, it decreased
    # No


print(f"The median value is: {df["horsepower"].median()}")
print(f"The mode value is: {df["horsepower"].mode()[0] }") #the mode [0] is to access the first element (and ignore the returned index of the Series)

mode_hp = df["horsepower"].mode()[0]
df['horsepower']  = df['horsepower'].fillna(mode_hp)

print(f"The NEW median value is: {df["horsepower"].median()}")

# The value has not changed.

The median value is: 149.0
The mode value is: 152.0
The NEW median value is: 152.0

In [57]:
# Q7. Sum of weights
# Select all the cars from Asia

df_asia = df[df['origin'] == 'Asia']
print(df_asia)

 # Select only columns vehicle_weight and model_year
 
df_only = df[df['origin'] == 'Asia'][["vehicle_weight", "model_year"]]
display(df_only)

# Select the first 7 values
df_only = df_only[:7]
display(df_only)

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                     250            1.0       174.0     2714.219310
12                    320            5.0       145.0     2783.868974
14                    200            6.0       160.0     3582.687368
20                    150            3.0       197.0     2231.808142
21                    160            4.0       133.0     2659.431451
...                   ...            ...         ...             ...
9688                  260            4.0       152.0     3948.404625
9692                  180            3.0       188.0     3680.341381
9693                  280            2.0       148.0     2545.070139
9698                  180            1.0       131.0     3107.427820
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8             10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12            15.1        2010   Asia    Diesel    All-wheel drive        1.0
14            14.9        2007   Asia    Diesel    All-wheel drive        0.0
20            18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21             NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0
...            ...         ...    ...       ...                ...        ...
9688          15.5        2018   Asia    Diesel    All-wheel drive       -1.0
9692          18.0        2016   Asia  Gasoline  Front-wheel drive        1.0
9693          15.6        2012   Asia    Diesel    All-wheel drive        0.0
9698          13.2        2005   Asia  Gasoline  Front-wheel drive       -2.0
9703          14.7        2005   Asia    Diesel    All-wheel drive       -1.0

      fuel_efficiency_mpg
8               16.823554
12              16.175820
14              11.871091
20              18.889083
21              16.077730
...                   ...
9688            11.054830
9692            11.711653
9693            17.202782
9698            13.933716
9703            14.884467

[3247 rows x 11 columns]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [59]:
# Get the underlying NumPy array. Let's call it X.
X = df_only.to_numpy()

# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
xtx = np.dot(X.T, X)
print(xtx.round(2), "\n")

# Compute the inverse of XTX.
xtx_inverse = np.linalg.inv(xtx)
print(xtx_inverse)

# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = xtx_inverse.dot(X.T).dot(y)

print('\nw is equal to:', w)

# What's the sum of all the elements of the result?
print('\nThe sum of w is',sum(w).round(3) ) 

# Note: You just implemented linear regression. We'll talk about it in the next lesson.

    # 0.051
    # 0.51  <<<--- right answer 
    # 5.1
    # 51

[[62248334.33 41431216.51]
 [41431216.51 28373339.  ]]

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

w is equal to: [0.01386421 0.5049067 ]

The sum of w is 0.519